@charset "utf-8";
/* CSS Document */

.stb-alert_box,
.stb-download_box,
.stb-grey_box,
.stb-info_box ,
.stb-warning_box,
.stb-black_box,
.stb-black-body_box,
.stb-alert-body_box,
.stb-download-body_box,
.stb-info-body_box,
.stb-warning-body_box,
.stb-grey-body_box,
.stb-black-caption_box,
.stb-alert-caption_box,
.stb-download-caption_box,
.stb-info-caption_box,
.stb-warning-caption_box,
.stb-grey-caption_box,
.stb-custom_box,
.stb-custom-caption_box,
.stb-custom-body_box {
	-webkit-box-shadow: 3px 3px 3px #888;
	-moz-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
}